@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

html {
    font-size: 62.5%;
}




.span-animation2 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 60px;
    --animate-duration: 2s;
 
    

}





@media (max-width:1399.98px) {
    .span-animation2 {
        font-size: 5.5rem;
    }
}

@media (max-width:1199.98px) {
    .span-animation2 {
        font-size: 5rem;
    }


}


@media (max-width: 991.98px) {
    .span-animation2 {
        font-size: 4.5rem;
    }
}

@media (max-width:767.98px) {
    .span-animation2 {
        font-size: 4rem;
    }
}

@media (max-width: 575.98px) {
    .span-animation2 {
        font-size: 3rem;
        padding: 0 10px;
    }
}
@media (max-width: 575.98px) {
    .span-animation1{
        font-size: 3rem;
        padding: 0 10px;
    }
}

.navbar {
    background-color: #111821;
    box-shadow: 0 10px 30px -10px #090c11;

}

.navbar-brand {
    color: #fff !important;
   
    font-size: 2rem;
}

.navbar-nav li {
    padding: 0 10px;

}


.navbar-nav li a {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
}
a.nav-link{
    font-size: 1.6rem;
}

#about {
    background-color: #111821;
    height: 100vh;
    display: flex;
overflow: hidden;
    align-items: center;


}
@media (max-width: 991.98px)  and (orientation: landscape) {
    
    #about {
       
height:120vh ;
    }
}
@media (max-width:767.98px) {
    #about {
        height: 110vh;
    }
}

@media (max-width: 470px) {
    #about {
        height: 90vh;
    }
}


.span-animation1 {
    color: #FFF;

    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;

}





.span-3 {
    color: rgb(146, 146, 146);

}

.span-animation:hover {

    --animate-duration: 800ms;
    --animate-delay: 0.9s;

}
/*.animacion-habilidades{
    transform: translateX(-200px);

}
@media (max-width: 470px) {
    .animacion-habilidades {
      
        transform: translateX(-500px);
    }
}*/
span:hover {
    color: #08C6AB;
}

.about-paragraph {
    color: #08C6AB;
    text-align: justify;
    width: auto;
    width: 550px;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;

}

.btn {
    width: 200px;
    padding: 10px;
    font-size: 15px;
    border-color: #08C6AB;
    color: #08C6AB;

    
}

.btn:hover {
    background-color: #08c6a92a;
}

#habilidades {
    background-color: #111821;
    height: 100vh;
    display: flex;
    align-items: center;
  
   
}

@media (max-width: 991.98px)  and (orientation: landscape) {
    
    #habilidades {
       
height: 150vh;
    }
}

@media (max-width: 991.98px)  and (orientation: portrait) {
    
    #habilidades {
        display: flex;
        align-items: center;
height: auto;
    }
}


.habilidades-paragraph {
    color: #fff;
    text-align: justify;
    font-size: 1.7rem;
     padding: 0 10px;
    
}

@media (max-width: 470px) {
    .about-paragraph {
        padding: 0 10px;
    }
}

.imagen {
    /*  -webkit-filter: grayscale(1);
    filter: grayscale(1);
   */
    object-fit: cover;
   /* transform: translateX(200px);*/
}
@media (max-width: 470px) {
    .imagen {
        margin-top: 50px;
        
    }
}
/*@media (max-width: 470px) {
    .imagen {
        margin-top: 50px;
        transform: translateX(50px);
    }
}
*/
.span-a .imagen:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

h2 {
    color: #fff;
    margin-top: 25px;
    display: inline-block;
}

.h2-span {
    margin-bottom: 50px;
    font-size: 2rem;
}

.num-color {
    color: #08C6AB;


}

.tecnologias {
    list-style: none;
    color: #fff;
    font-size: 1.8rem;
}

.skill-items {
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;

    list-style: none;
}


.svg {
    display: inline-block;
    height: 22px;
}
@media (max-width: 575.98px) {
.skill-items{
    grid-template-columns: repeat(3, minmax(100px, 200px));
    }
}

picture {
    height: 500vh;
}

#proyectos {

    background-color: #111821;
    height: 100vh;
    display: flex;

    align-items: center;
}



@media (max-width: 991.98px)  and (orientation: landscape) {
    
    #proyectos {
       
height: 300vh;
    }
}

.proyectos-container {
    text-align: center;
    display: block;
    font-size: 2rem;

}

.container-proyecto {
    height: auto;
    width: 100%;
    margin-top: 50px;


}

.trillo {
    object-fit: cover;
    height: 300px;


}

.nexter {
    object-fit: fill;
    height: 300px;

}

.natours {

    height: 300px;
    object-fit: fill;
}

#contacto {
    height: 50vh;
    background-color: #111821;

    display: flex;

    align-items: center;
}
@media (max-width: 991.98px)  and (orientation: landscape) {
    
    #contacto {
       
height: 120vh;
    }
}
@media (max-width: 991.98px)  and (orientation: portrait) {
    
    #proyectos {
        display: flex;

    align-items: center;
height:auto;
    }
}

.contacto-paragraph {
    text-align: justify;
    color: #08C6AB;
    margin-top: 40px;
    font-size: 1.8rem;
 
}

.centrarboton {

    text-align: center;
    margin-top: 5px;


}

.a-nostyle {
    text-decoration: none;
    color: #08C6AB;
}

.a-nostyle:hover {
    color: #08C6AB;
}
