
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

.navbar{
    background-color: #111821
    ;
    box-shadow: 0 10px 30px -10px #090c11;

}

.navbar-brand{
    color: #fff !important;
      padding:  0 10px;
}
.navbar-nav li{
    padding:  0 10px;
}
.navbar-nav li a{
    color: #fff  !important;
    font-family: 'Montserrat', sans-serif;
}
#about{
    background-color:#111821    ;
    height: 100vh;
    display:flex;

    align-items: center;

   
}

.span-animation1{
    color: #FFF;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  
}

.span-animation2{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
font-weight: 600;
    font-size: 60px;
}
@media (max-width: 600px) {
    .span-animation2{
        font-size: 30px;
    }
  }
  @media (max-width: 735px) {
    .span-animation2{
        font-size: 28px;
    }
  }
.span-3
{   color: rgb(146, 146, 146);
    font-size: 60px;/*30*/
}
@media (max-width: 735px) {
    .span-3{
        font-size: 25px;
    }
  }
.span-animation:hover{
   
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    
}

span:hover{
    color: #08C6AB;
}

.about-paragraph{
    color: #08C6AB;
    text-align: justify;
    width: auto;
    width: 550px;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    width: 200px;
    padding: 10px;
    font-size: 15px;
    border-color: #08C6AB;
    color: #08C6AB;
}
.btn:hover{
    background-color:#08c6a92a ;
}
.habilidades{
    background-color: #111821;
    height: 100vh;
}
@media (max-width: 735px) {
    .habilidades{
  height: auto;
    }
  }
.habilidades-paragraph{
    color: #fff;
    text-align: justify;
}
.imagen{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    object-fit: cover;
}
@media (max-width: 735px) {
    .imagen{
  
    }
  }
.span-a
.imagen:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0); 
}
h2{
    color: #fff;
    margin-top: 25px;
display: inline-block;
}
.h2-span{
    margin-bottom: 50px;
}
.num-color{
    color: #08C6AB;


}
.tecnologias{
   list-style: none;
    color: #fff;
}

.skill-items{
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}


.svg{
    display: inline-block;
    height:22px;
}
picture{
    height: 500vh;
}
.proyectos{
    height: 60vh;
    background-color:#111821;
}
@media (max-width: 732px) {
    .proyectos{
     height: auto;
    }
  }
.proyectos-container{
    text-align: center;
    display: block;
    margin-top: 50px;
}
.container-proyecto{
    height: auto;
    width: 100%;
    margin-top: 100px;

   
}

.trillo{
object-fit: cover;
height: 300px;

 
}
.nexter{
object-fit: fill;
    height: 300px;

}
.natours{
   
    height: 300px;
    object-fit: fill;
}
.contacto{
    height: 50vh;
    background-color:#111821;
    display:flex;
align-items: center;
}

.contacto-paragraph{
    text-align: justify;
    color: #08C6AB;
}
.centrarboton{

  text-align: center;


}
.a-nostyle{
    text-decoration: none;
    color: #08C6AB;
}
.a-nostyle:hover{
    color: #08C6AB;
}
